@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Fira Sans, sans-serif;
}
:root{
    font-family: 'Fira Sans', sans-serif;
    --menu-text-color: #525b86;
    --gradient-before: linear-gradient(45deg, rgba(88,235,255,1) 0%, rgba(148,241,255,1) 49%, rgba(88,235,255,1) 100%);
    --gradient-after: linear-gradient(45deg, rgba(148,241,255,1) 0%, rgba(88,235,255,1) 49%, rgba(148,241,255,1) 100%);
}
body{
    max-width: 1500px;
    margin: auto;
}
header{
    background-image: url(../img/header.png);
    background-size: cover;
    /*min-height: 850px;*/
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}
header .upper-head{
    /*border: 1px solid black;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0px 20px 40px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.icons{
    padding-top: 5px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu button{
    flex-direction:row;
    height:36px; 
    width:36px;
    margin-left: 15px;
}
.menu-button-face{
    background: url(../img/facebook-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-face:hover{
    background: url(../img/facebook-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;   
}
.menu-button-inst{
    background: url(../img/instagram-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-inst:hover{
    background: url(../img/instagram-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;
}
.menu-button-youtube{
    background: url(../img/youtube-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-youtube:hover{
    background: url(../img/youtube-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;
}
.btn-primary{
    /* background: url(../img/threebars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none; */
    display: none;    
}
.sends a{
    text-decoration: none;
    color: var(--menu-text-color);
    font-size: 15px;
    margin: 0px 3px 0px 8px;
    font-weight: bolder;
    transition: 0s;
    /*transform: scale(1.0);*/    
}
header .menu a:hover{    
    color: rgb(62, 46, 94);    
    transition: 0.5s;
}
.upper-head h1{
    
    color: #7a7370;
    text-decoration: none;
    font-weight:normal;
    font-size: medium;
}
.banner {    
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    margin-left: 50px;
}
.banner h2{
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    color: white;
}
.header-bottom{    
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
}
.button-banner{
    /*background: rgb(88,235,255);*/
    background: var(--gradient-before);
    border-radius: 27px;
    width: 189px;
    height: 54px;
    color: white;
    text-decoration: bold;
    font-size: 15px;    
    border: none;
    box-shadow: 0px 15px 18px -4px #68FCFF;
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.0);
    margin-top: 130px;
    margin-left: 50px;
    animation: blinking 2000ms infinite;
    margin-bottom: 50px;
}
@keyframes blinking {
    0% {box-shadow: 0px 15px 18px -4px #68FCFF;}
    50% {box-shadow: 0px 0px 18px -4px #68FCFF;}
    100% {box-shadow: 0px 15px 18px -4px #68FCFF;}
}
.button-banner:hover{
    animation: none;
    box-shadow: 0px 15px 18px -4px #68FCFF;    
    /*background: rgb(88,235,255);*/
    background: var(--gradient-after);
    transition: 1s;
}
.video-youtube{
    width: 100%;
}
.about-course h2{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    color: #213270;
    font-size: 65px;
    font-weight: bolder;
}
.content-about{ 
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
    max-width: 100%;
}
.text-about{ 
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.image-about{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-about div{
    color: #213270;
    text-align: center;
    justify-content: center;
    margin: 83px 20px;
    font-size: 25px;
}
.video{
    background: #213270;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    min-height: 500px;
}
.video-youtube{
    height: 100%;
    padding: 0;
}
iframe{
    height: 100%;
    width: 100%;
}
.info-video div{
    
    margin-left: 20px;
}
.info-video h2{
    font-family: 'Rubik',sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}
.info-video p{
    color: white;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}
.info-video button{
    margin-top: 100px;
    padding: 15px 50px 15px 50px;
    background: none;
    font-size: 12px;
    color: white;
    border-radius: 60px;
    border: 2px solid white;
    font-style: italic;
    align-items:center;
}
.info-video button:hover{
    background: white;
    color: #213270;
    border: 2px solid white;
    transition: 0.4s;
}
#price{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #213270;
    font-size: 65px;
    font-weight: bolder;
}
.prices h2{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #213270;
    font-size: 27px;
    font-weight: bolder;
}
.main-tarif{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 0 180px 0 180px;
}
.main-tarif > div{
    height: 100%;
    
}



.main-tarif img{    
    display: block;
    margin: -40px auto auto auto;
    width: 80px;
    height: 80px;
}

.main-tarif p{
    text-align: center;
    color: #707070;
    text-align: left;
    padding: 0 30px 0 30px;
}
.main-tarif li{
    text-align: center;
    color: #707070;
    text-align: left;
    padding: 0;
}
.basic-tarif{
    background-color: #ffe2de;
}
.advanced-tarif{
    background-color: #ffe2de;
}
.dollar{
    font-family: 'Rubik',sans-serif;
    color: #213270;
}
.basic-tarif-content .dollar{
    margin-top: 90px;
}
.form-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../img/fixed-back.jpg);
    background: fixed;
}


