*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-family: 'Fira Sans Condensed', sans-serif;
    --menu-text-color: #525b86;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap');
header{
    
    background-image: url(../img/header.png);
    background-size: cover;
    /*min-height: 850px;*/
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}
header .upper-head{
    /*border: 1px solid black;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0px 20px 40px;
}
.menu{
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.icons{
    margin-left: 8px;
    display: flex;
}
.menu button{
    
    flex-direction:row;
    height:36px; 
    width:36px;
    margin-left: 15px;
}
.menu-button-face{
    background: url(../img/facebook-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-face:hover{
    background: url(../img/facebook-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;
   
}
.menu-button-inst{
    background: url(../img/instagram-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-inst:hover{
    background: url(../img/instagram-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;
}
.menu-button-youtube{
    background: url(../img/youtube-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.7s;
    transform: scale(1.0);
}
.menu-button-youtube:hover{
    background: url(../img/youtube-after.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: 0.2s;
}
.threebars{
    background: url(../img/threebars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    display: none;
    
}
.sends a{
    text-decoration: none;
    color: var(--menu-text-color);
    font-size: 13px;
    margin: 0px 5px 0px 8px;
    font-weight: bolder;
    transition: 0s;
    /*transform: scale(1.0);*/
    
}
header .menu a:hover{
    
    color: rgb(62, 46, 94);
    
    transition: 0.5s;
}
.upper-head h1{
    color: #7a7370;
    text-decoration: none;
    font-weight:normal;
    font-size: medium;

}
.banner {
    
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    margin-left: 50px;
   

}
.banner h2{
    font-size: 100px;
    color: white;
}
.header-bottom{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
}
.button-banner{
    background: rgb(128,240,255);
    background: linear-gradient(45deg, rgba(128,240,255,1) 0%, rgba(192,246,254,1) 45%, rgba(128,240,255,1) 100%);
    border-radius: 27px;
    width: 189px;
    height: 54px;
    color: white;
    text-decoration: bold;
    font-size: 15px;
    
    border: none;
    box-shadow: 0px 8px 18px -4px #68FCFF;
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.0);
    margin-top: 130px;
    margin-left: 50px;
    animation: blinking 2000ms infinite;
    margin-bottom: 50px;
}

@keyframes blinking {
    0% {box-shadow: 0px 8px 18px -4px #68FCFF;}
    50% {box-shadow: 0px 0px 18px -4px #68FCFF;}
    100% {box-shadow: 0px 8px 18px -4px #68FCFF;}
}
.button-banner:hover{
    animation: none;
    box-shadow: 0px 8px 18px -4px #68FCFF;
    
    background: rgb(128,240,255);
    background: linear-gradient(45deg, rgba(192,246,254,1) 0%, rgba(128,240,255,1) 45%, rgba(192,246,254,1) 100%);
}






@media (max-width:1030px) {
    .menu {
        display: inline;
    }
    .upper-head{
        display: inline;
        padding: 0;
        margin: 0;
        display: none;
    }
    .sends{
        display: flex;
        flex-direction: column;
        display: none;
    }
    .upper-head h2{ 
        border: 1px solid black;
        display: none;
    }
    .icons{
        display: none;
    }
    .threebars{
        display: flex;
        margin-right: 50px;
    }
    .banner h2{
        font-size: 3rem;
    }
    .button-banner{
        margin-bottom: 50px;
    }
    
        
}
@media (max-width:600px){
    .menu {
        
        display: inline;
        flex-direction: column;
    }
    header{
        padding: 0;
        margin: 0;

    }
    .banner {
    
        flex-direction: column;
        justify-content: left;
        margin-top: 5%;
        margin-left: 10px;
    }
    .banner h2{
        font-size: 3rem;
        flex-direction: column;
        justify-content: left;
        margin-top: 5%;
        margin-left: 10px;
    }
    .button-banner{
        margin-left: 5.5rem;
    }
        
    
}
.video-youtube{
    width: 100%;
    frameborder: 0;
}



