.tab-section{
    background-color: #ffe2de;
}
.tab-section h2{
    font-family: 'Rubik', sans-serif;
    padding-top: 100px;
    padding-bottom: 60px;
    color: #213270;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.composition{
    text-align: center;
    justify-content: center;
    display: flex;
}
.composition h2{
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0px 50px 0px 50px;
    color: #213270;
    font-size: 60px;
    font-weight: bolder;
}
.nav-pills .nav-link{
    border: none;
    display: inline-flexbox;
    background-color: #ffe2de;
    color:#585e8b;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin:0px;
    border-radius: 0;
    border-bottom: 2px solid #f1d7d7;
}
.nav-link:hover{
    color: #233270;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link :active{
    border-bottom:2px solid #585e8b;
    color: #233270;
    background-color: #ffe2de;
}
.tab-settings{
    background-color: white;
    padding: 20px;
    padding-top: 50px;
    margin: 20px;
    display: grid;
    grid-column: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}
.tab-settings div{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-settings img{
    max-height: 70px;
    display: block;
    margin: auto;
    margin-top:50px;
}
.tab-settings h3{
    margin-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    color: #213270;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.tab-settings p{
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 20px;
    color: #707070;
    text-align: center;
    line-height: 1.5;
}
.tab-content>.active{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 70px;
    padding-left:30px;  
    padding-right:30px;
    max-width: 100%;  
    grid-auto-flow: dense;
}
/* .nav-item{
    border-bottom: 3px solid #f1d7d7;
} */



